.button{
    padding: .6rem 1rem;
    cursor: pointer;
    font-size: .8rem;
    border: none;
    border-radius: .2rem;
}

.button_primary{
    background-color: var(--primary-color);
    color: white;
}

.button_secondary{
    background-color: white;
    color: var(--primary-color);
    border: .1rem solid var(--primary-color)
}

.button_disabled{
    background-color: var(--dark-gray-color);
    color: var(--body-text-color);
    cursor: not-allowed;
}