.tabs_container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tabs_container p{
    font-size: .8rem;
}

.tabs_container__buttons{
    display: flex;
    align-items: center;
    padding: .4rem;
    background-color: var(--dark-gray-color);
    border-radius: .3rem;
}

.tabs_container__buttons button{
    padding: .4rem .7rem;
    font-size: .7rem;
    cursor: pointer;
    border: none;
    width: 7rem;
    background-color: var(--dark-gray-color);
    color: var( --body-text-color);
}

.tabs_container__buttons button.active{
    background-color: white;
    color: black;
    border-radius: .2rem;
}